.sidebar {
    background-color: #212529;
    height: 100vh;
    display: flex;
    width: 8rem;
    flex-direction: column;
    padding: 2rem 2rem;

    &__header {
        display: grid;
        place-items: center;
        padding-bottom: 2rem;
        border-bottom: 1px solid #f8f9fa6e;

        span {

            svg {
                width: 3.5rem;
                height: 3.5rem;

                path {
                    fill: #F8F9FA
                }
            }
        }
    }

    &__content {
        padding-top: 1rem;

        &__list {
            list-style-type: none;
            padding: 0;
            display: grid;
            place-items: center;

            &__item {
                list-style: none;
                display: block;
                width: 100%;
                text-align: center;
                padding: 0.5rem;
                margin-bottom: 0.5rem;
                border-radius: 0.5rem;

                &--active {
                    background-color: #F8F9FA;

                    .sidebar__content__list__item__content {
                        color: #212529;
                    }

                }

                &__content {
                    color: #F8F9FA;
                    font-size: 2.5rem;
                }
            }
        }
    }
}