html, body {
  font-family: 'Roboto', sans-serif !important;
  margin: 0;
  padding: 0;
  display: block;
  background-color:#DDDDDD;
}

@import './styles/global.scss';
@import './app.scss';

/* pages */
@import './pages/Analytics/Analytics.scss';
@import './pages/About/About.scss';

/* components */
@import './components/Sidebar/Sidebar.scss';
@import './components/AdvancedSelect/AdvancedSelect.scss'
